<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/header :: head}">
        <title>MyVlog</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="signup" class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <div class="card-header bg-primary text-white text-center">
                        <h5 class="card-title text-center ">Sign Up</h5>
                    </div>
                    <form th:action="@{/signup}" th:object="${usuario}" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Email</label>
                            <input type="text" id="correo" name="correo" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control" required />
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                        </div>   
                    </form>
                    <div th:if="${error}" class="alert alert-danger mt-3" th:text="${error}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
