<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/header :: head}">
        <title>MyVlog</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>
        <div th:fragment="postForm" class="container mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Crear Nuevo Post</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/posts/create}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" id="titulo" name="titulo" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="contenido" class="form-label">Contenido</label>
                            <textarea id="contenido" name="contenido" class="form-control" rows="4" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Imagen</label>
                            <input type="file" id="image" name="image" class="form-control"/>
                        </div>

                        <input type="hidden" name="user_id" th:value="${userId}" />

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Publicar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
